.treeHeading {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.treeFile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.treeHeadingImg,
.treeGroupImg,
.treeFileImg {
    cursor: pointer;
}